<a href="https://colab.research.google.com/github/njkhanday/Python_UPES/blob/main/Introduction_to_Python_String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Escape sequences
print("The boy replies, \"My name is Aditya\"")

The boy replies, "My name is Aditya"

In [ ]:
print("\\")
print("\'")
print("\"")
#print("Hello\fworld")
print("Hello\nworld")
print("Hello\tworld")
#print("\056")
#print("\x60")

\
'
"
Hello
world
Hello	world

In [ ]:
print(R"what is \ your name?")

what is \ your name?

In [ ]:
#CASTING

x = int(1)
print(x)
y = int(2.8)
print(y)
z = int("3")
print(z)
print(type(z))

1
2
3
<class 'int'>

In [ ]:
x = float(1)
print(x)
y = float(2.8)
print(y)
z = float("3")
print(z)
print(type(z))

1.0
2.8
3.0
<class 'float'>

In [ ]:
x = str(1)
print(x)
y = str(2.8)
print(y)
z = str("3")
print(z)
print(type(z))

1
2.8
3
<class 'str'>

In [ ]:
#String Literals

a = "Hello,World"
print(a[4])

o

In [ ]:
#Substring

a = "Hello,World"
print(a[2:5])

llo

In [ ]:
#strip()

#Removes any white spaces from begining or the end

a = "    Hello,       World   "
print(a.strip())

Hello,       World

In [ ]:
#Length

a = "Hello,       World"
print(len(a))

18

In [ ]:
#Lower OR Upper

a = "Hello,World"
print(a.lower())
print(a.upper())

hello,world
HELLO,WORLD

In [ ]:
#Replace

a = "Hello,World"
print(a.replace("He","J"))

Jllo,World

In [ ]:
#Split
a = "Hello,World"
print(a.split(","))
print(a.split("r"))

['Hello', 'World']
['Hello,Wo', 'ld']

In [ ]:
a = "Hello,World"
print(a[2:5])
print(a.replace("He","J"))
print(a.split(","))
print(a)

llo
Jllo,World
['Hello', 'World']
Hello,World

In [ ]:
a = input("Enter the string")
print(a)
print(a.upper())

Enter the stringpython program
python program
PYTHON PROGRAM

In [ ]:
#SLICING

b = "Hello, World!"
print(b[2:5])

b = "Hello, World!" #Slice From the Start (By leaving out the start index, the range will start at the first character)
print(b[:5])

b = "Hello, World!"  #Slice To the End (By leaving out the end index, the range will go to the end)
print(b[2:])

b = "Hello, World!"  #Negative Indexing (Use negative indexes to start the slice from the end of the string)
print(b[-5:-2])

In [ ]:
#String Formats

age = 36
txt = "My name is ABC, and I am {}"
print(txt.format(age))

My name is ABC, and I am 36

In [ ]:
#Use the format() method to insert numbers into strings

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
#Example

quantity = 3
item_no = 567
price = 49.95
myorder = "I want {} pieces of item number {} for {} dollars."
print(myorder.format(quantity, item_no, price))

I want 3 pieces of item number 567 for 49.95 dollars.

In [ ]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders

quantity = 3
item_no = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item number{1}."
print(myorder.format(quantity, item_no, price))

I want to pay 49.95 dollars for 3 pieces of item number567.

In [ ]:
#########   STRING METHODS  ###############

txt = "python is FUN!"

x = txt.capitalize() #Upper case first letter of sentence
#txt = "36 is my age."

print (x)

Python is fun!

In [ ]:
#Make the string lower case:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
#Print the word "Python", taking up the space of 20 characters, with "banana" in the middle:
txt = "Python"

x = txt.center(20)
#x = txt.center(20, "L")

print(x)

LLLLLLLPythonLLLLLLL

In [ ]:
"""count()	Returns the number of times a specified value occurs in a string
encode()	Returns an encoded version of the string
endswith()	Returns true if the string ends with the specified value
expandtabs()	Sets the tab size of the string
find()	Searches the string for a specified value and returns the position of where it was found
format()	Formats specified values in a string
format_map()	Formats specified values in a string
index()	Searches the string for a specified value and returns the position of where it was found
isalnum()	Returns True if all characters in the string are alphanumeric
isalpha()	Returns True if all characters in the string are in the alphabet
isascii()	Returns True if all characters in the string are ascii characters
isdecimal()	Returns True if all characters in the string are decimals
isdigit()	Returns True if all characters in the string are digits
isidentifier()	Returns True if the string is an identifier
islower()	Returns True if all characters in the string are lower case
isnumeric()	Returns True if all characters in the string are numeric
isprintable()	Returns True if all characters in the string are printable
isspace()	Returns True if all characters in the string are whitespaces
istitle() 	Returns True if the string follows the rules of a title
isupper()	Returns True if all characters in the string are upper case
join()	Joins the elements of an iterable to the end of the string
ljust()	Returns a left justified version of the string
lower()	Converts a string into lower case
lstrip()	Returns a left trim version of the string
maketrans()	Returns a translation table to be used in translations
partition()	Returns a tuple where the string is parted into three parts
replace()	Returns a string where a specified value is replaced with a specified value
rfind()	Searches the string for a specified value and returns the last position of where it was found
rindex()	Searches the string for a specified value and returns the last position of where it was found
rjust()	Returns a right justified version of the string
rpartition()	Returns a tuple where the string is parted into three parts
rsplit()	Splits the string at the specified separator, and returns a list
rstrip()	Returns a right trim version of the string
split()	Splits the string at the specified separator, and returns a list
splitlines()	Splits the string at line breaks and returns a list
startswith()	Returns true if the string starts with the specified value
strip()	Returns a trimmed version of the string
swapcase()	Swaps cases, lower case becomes upper case and vice versa
title()	Converts the first character of each word to upper case
translate()	Returns a translated string
upper()	Converts a string into upper case
zfill()	Fills the string with a specified number of 0 values at the beginning"""

'count()\tReturns the number of times a specified value occurs in a string\nencode()\tReturns an encoded version of the string\nendswith()\tReturns true if the string ends with the specified value\nexpandtabs()\tSets the tab size of the string\nfind()\tSearches the string for a specified value and returns the position of where it was found\nformat()\tFormats specified values in a string\nformat_map()\tFormats specified values in a string\nindex()\tSearches the string for a specified value and returns the position of where it was found\nisalnum()\tReturns True if all characters in the string are alphanumeric\nisalpha()\tReturns True if all characters in the string are in the alphabet\nisascii()\tReturns True if all characters in the string are ascii characters\nisdecimal()\tReturns True if all characters in the string are decimals\nisdigit()\tReturns True if all characters in the string are digits\nisidentifier()\tReturns True if the string is an identifier\nislower()\tReturns True if all characters in the string are lower case\nisnumeric()\tReturns True if all characters in the string are numeric\nisprintable()\tReturns True if all characters in the string are printable\nisspace()\tReturns True if all characters in the string are whitespaces\nistitle() \tReturns True if the string follows the rules of a title\nisupper()\tReturns True if all characters in the string are upper case\njoin()\tJoins the elements of an iterable to the end of the string\nljust()\tReturns a left justified version of the string\nlower()\tConverts a string into lower case\nlstrip()\tReturns a left trim version of the string\nmaketrans()\tReturns a translation table to be used in translations\npartition()\tReturns a tuple where the string is parted into three parts\nreplace()\tReturns a string where a specified value is replaced with a specified value\nrfind()\tSearches the string for a specified value and returns the last position of where it was found\nrindex()\tSearches the string for a specified value and returns the last position of where it was found\nrjust()\tReturns a right justified version of the string\nrpartition()\tReturns a tuple where the string is parted into three parts\nrsplit()\tSplits the string at the specified separator, and returns a list\nrstrip()\tReturns a right trim version of the string\nsplit()\tSplits the string at the specified separator, and returns a list\nsplitlines()\tSplits the string at line breaks and returns a list\nstartswith()\tReturns true if the string starts with the specified value\nstrip()\tReturns a trimmed version of the string\nswapcase()\tSwaps cases, lower case becomes upper case and vice versa\ntitle()\tConverts the first character of each word to upper case\ntranslate()\tReturns a translated string\nupper()\tConverts a string into upper case\nzfill()\tFills the string with a specified number of 0 values at the beginning'

In [ ]:
#Boolean Values

#In programming you often need to know if an expression is True or False.

#You can evaluate any expression in Python, and get one of two answers, True or False.

#When you compare two values, the expression is evaluated and Python returns the Boolean answer:

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
#Example 2 (using if else)

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
#Evaluate a string and a number:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
#Evaluate two variables:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

In [ ]:
course = 'python for beginners'

In [ ]:
print(course)

python for beginners

In [ ]:
print(course.find('p'))

0

In [ ]:
print(course)

python for beginners

In [ ]:
x = "awsome"
print("python is" + x)

python isawsome

In [ ]:
z = 2
print(type(z))

<class 'int'>

In [ ]:
x = 35e3
print(type(x))

<class 'float'>